@model Biblio_Models.Entiteiten.Taal
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Biblio_Web.SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Delete"];
}

<h1>@Localizer["Delete"]</h1>

<div>
    <h4>@Model.Naam (@Model.Code)</h4>
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
        <a asp-action="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
    </form>
</div>
