@model Biblio_Models.Entiteiten.Lenen
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Localizer["Boek"]</dt>
            <dd class="col-sm-9">@Model.Boek?.Titel</dd>

            <dt class="col-sm-3">@Localizer["Lid"]</dt>
            <dd class="col-sm-9">@Model.Lid?.Voornaam @Model.Lid?.AchterNaam</dd>

            <dt class="col-sm-3">@Localizer["Startdatum"]</dt>
            <dd class="col-sm-9">@Model.StartDate:d</dd>

            <dt class="col-sm-3">@Localizer["Einddatum"]</dt>
            <dd class="col-sm-9">@Model.DueDate:d</dd>

            <dt class="col-sm-3">@Localizer["IngeleverdOp"]</dt>
            <dd class="col-sm-9">@(Model.ReturnedAt?.ToString("g") ?? Localizer["NotReturned"].Value)</dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary">@Localizer["Back"]</a>
    </div>
</div>
