@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Biblio_Web.SharedResource> Localizer
@model Biblio_Models.Entiteiten.Boek
@{
    ViewData["Title"] = Localizer["Delete"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.Titel</h4>
    <p>@Localizer["ColumnAuthor"]: @Model.Auteur</p>
    <p>@Localizer["ColumnIsbn"]: @Model.Isbn</p>
    <p>@Localizer["ColumnCategory"]: @Model.categorie?.Naam</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
</form>