@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Biblio_Web.SharedResource> Localizer
@model Biblio_Models.Entiteiten.Boek
@{
    ViewData["Title"] = Localizer["Details"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.Titel</h4>
    <p>@Localizer["ColumnAuthor"]: @Model.Auteur</p>
    <p>@Localizer["ColumnIsbn"]: @Model.Isbn</p>
    <p>@Localizer["ColumnCategory"]: @Model.categorie?.Naam</p>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["Edit"]</a>
<a asp-action="Index" class="btn btn-secondary">@Localizer["Back"]</a>