@model ErrorViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Biblio_Web.SharedResource> L
@{
    ViewData["Title"] = L["Error"] ?? "Error";
}

<h1 class="text-danger">@L["Error"]</h1>
<h2 class="text-danger">@L["ErrorProcessing"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@L["RequestID"]:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@L["DevelopmentMode"]</h3>
<p>
    @L["DevelopmentWarning"]
</p>
