@model string?
@inject Microsoft.Extensions.Localization.IStringLocalizer<Biblio_Web.SharedResource> L

@if (!string.IsNullOrEmpty(Model))
{
    <span class="nav-link text-dark">@L["HelloUser", Model]</span>

    <form class="d-inline" asp-controller="Account" asp-action="LogoutPost" method="post" id="logoutForm">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link nav-link p-0">@L["Logout"]</button>
    </form>
}
else
{
    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">@L["Login"]</a>
    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">@L["Register"]</a>
}
