@model string?
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Biblio_Web.SharedResource> Localizer

@if (!string.IsNullOrEmpty(Model))
{
    <div class="d-flex align-items-center">
        <span class="nav-link text-dark mb-0">@Localizer["HelloUser", Model]</span>
        <form class="d-inline ms-3" asp-controller="Account" asp-action="LogoutPost" method="post" id="logoutForm">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link nav-link text-dark p-0 ms-2">@Localizer["Logout"]</button>
        </form>
    </div>
}
else
{
    <div class="d-flex align-items-center">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        <a class="nav-link text-dark ms-2" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
    </div>
}
